<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>homepage</title>
    <meta name="description" content="">

    <link rel="stylesheet" href="assets/css/reset.css">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <![endif]-->

</head>

<body>
<div>
   成功进入首页
</div>

<!-- Javascript -->
<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
<script src="./assets/js/jquery-1.8.2.min.js"></script>
</body>

</html>